# shellcheck shell=bash
if ! has nix_direnv_version || ! nix_direnv_version 3.0.6; then
  source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/3.0.6/direnvrc" "sha256-RYcUJaRMf8oF5LznDrlCXbkOQrywm0HDv1VjYGaJGdM="
fi
use flake

dotenv .env
env_vars_required LAST_FM_API_KEY SECRET_KEY_BASE SLACK_SIGNING_SECRET SPOTIFY_CLIENT_ID SPOTIFY_CLIENT_SECRET INDIEHEADS_DOMAIN
